@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
:root {
  margin:0;
}

* {
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif !important;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body {
  margin: 0;
}
/* <a href="https://storyset.com/user">User illustrations by Storyset</a> */